.ui-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: v.$color-primary;
  font-size: v.$font-size-md;
  padding: 8px 24px;
  color: v.$color-text-light;
  border-radius: 8px;
  height: 48px;
  transition: background-color 200ms;
  cursor: pointer;
  &:hover {
    background: v.$color-primary-hover;
  }

  &.button__button_disabled {
    background: v.$color-surface;
    cursor: default;
  }

  .button__loader {
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    transform-origin: center;
    transform: rotate(0deg);
    animation: rotate 1000ms infinite linear;
  }
}
