.chat-page__wrapper {
  .chat-page__response-wrapper {
    padding: 24px 0px 96px 0px;

    > *:not(:last-child) {
      margin-bottom: 16px;
      border-bottom: 1px solid v.$color-border;
      padding-bottom: 16px;
    }
  }
  .chat-page__controllers {
    position: fixed;
    bottom: 0px;
    left: calc((100vw - min(688px, 100vw)) / 2);
    border-radius: 16px 16px 0px 0px;
    background: v.$color-bg;
    padding: 16px;
    width: min(688px, 100vw);
    display: flex;
    justify-content: space-between;
    gap: 16px;
    > div {
      display: flex;
      gap: 8px;
    }
    button {
      font-size: 1.2rem;

      &.chat-page__stop-button {
        flex-shrink: 0;
        background: v.$color-error;
        padding: 0px;
        width: 48px;
        height: 48px;
      }
    }
  }
}

@include respond-to('mobile') {
  .chat-page__wrapper {
    .chat-page__controllers {
      border-radius: 0px;
      > div {
        display: flex;
        width: 100%;
        button {
          flex: 1 0 0;
        }
        button.button__button_disabled {
          display: none;
        }
      }
    }
  }
}
