// Цвета

$color-bg: oklch(92.9% 0.013 255.508);
$color-bg-light: oklch(98.4% 0.003 247.858);
$color-surface: oklch(70.4% 0.04 256.788);
$color-border: oklch(57.2% 0.044 257.287);
$color-text-main: oklch(12.9% 0.042 264.695);
$color-text-light: oklch(92.9% 0.042 264.695);
$color-text-muted: oklch(20.8% 0.042 265.755);

$color-primary: oklch(0.5854 0.2041 277.12);
$color-primary-hover: oklch(0.5106 0.2301 276.97);
$color-primary-light: oklch(0.6801 0.1583 276.93);

$color-error: oklch(0.6368 0.2078 25.33);
$color-error-bg: oklch(83.013% 0.09435 27.218 / 0.225);
$color-success: oklch(0.7227 0.192 149.58);

// Типографика

$font-main:
  'Inter',
  system-ui,
  -apple-system,
  sans-serif;
$font-code: 'JetBrains Mono', 'Fira Code', monospace;
$font-size-sm: 0.8rem;
$font-size-base: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;

$font-weight-body: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 800;
